button {
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: var(--colour-white);
  background-color: var(--colour-button-bg);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--colour-button-hover);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

button:active {
  background-color: var(--colour-button-active);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
