input {
  max-width: 170px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--colour-grey);
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
