table {
  width: 100%;
}

thead {
  background-color: var(--colour-grey);
}

thead th,
tbody td {
  padding: var(--table-cell-padding);
  max-width: var(--table-max-width);
  text-align: var(--table-cell-text-align);
}

tbody tr {
  background-color: var(--colour-primary-bg);
}

tbody tr:nth-child(odd) {
  background-color: var(--colour-white);
}
