#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-container {
  text-align: start;
}

.data-container {
  height: 300px;
  overflow: auto;
  margin-bottom: 40px;
}

.form-container h3 {
  text-align: start;
  margin-bottom: 5px;
}

.form-container form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
