#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-container {
  text-align: start;
}

.data-container {
  height: 300px;
  overflow: auto;
  margin-bottom: 40px;
}

.form-container h3 {
  text-align: start;
  margin-bottom: 5px;
}

.form-container form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.grid {
  background-color: #444;
  color: #fff;
  padding: 25px;
  font-size: 3rem;
}
.header {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}
.sidebar {
  grid-column: 8 / 12;
  grid-row: 2 / 12;
}
.content {
  grid-column: 2 / 8;
  grid-row: 2 / 11;
}
.extra {
  grid-column: 2 / 8;
  grid-row: 11 / 12;
}
.footer {
  grid-column: 1 / 13;
  grid-row: 12 / 13;
}
